*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.products-container{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 300px;
    border:1px solid black;
    cursor: grab;
}
.products-slider{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.products-slider-inner{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}
.product-item{
    position: relative;
    width: 250px;
    height: 390px;
    margin-left: 10px;
    border: 1px solid #000;
    background-color: #0000;
}
.product-item img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.product-title{
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-weight: 400;
}
.price-color
{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.colors{
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
}
.price{
    display: flex;
    justify-content: flex-start;
}
.colors span{
width: 12px;
height: 12px;
border-radius: 50%;
background-color: red;
display: block;
margin-left: 5px;
}
.active{
    border:1px solid;
    width: 10px !important;
    height: 10px !important;
}
.colors span:hover{
    border:1px solid;
    width: 10px;
    height: 10px;
}
.colors .blue{
    background-color: #99c2cc;
}
.colors .orange{
    background-color: #CB99CC;
}
.colors .purple{
    background: #CC9999;
}
.colors .green{
    background: #A6CC99
}